<app-header></app-header>
<div class="container my-4">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-10 text-center">
                <label class="fs-4">Canciones</label>
              </div>
              <div class="col-2 text-center">
                <button type="button" class="my-1 btn btn-outline-primary btn-circle" (click)="irCrearCancion()"><i class="bi bi-plus-lg"></i></button>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="filters ">
                  <h1 class="mb-4" ></h1>
                  <h2 >Filtrar por:</h2>
                   <div>
                    <label for="label-filter" class="d-block mt-3 mb-1" >Titulo</label>
                    <select id="label-filter" class="form-select form-select-sm bg-light" [(ngModel)]="labelFilter">
                      <option selected></option>
                      <option *ngFor="let l of filteredSongs" >{{l.titulo}}</option>
                    </select>
                  </div>
                </div>
                <div class="albums-list col-md">

                  <div class="row no-albums" *ngIf="!filteredSongs.length">
                    <div class="col-10 mx-auto d-block mt-5">
                      <div class="card text-center" style="height: 30rem;">
                        <h5 class="card-header" >0 results</h5>
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                          <h5 class="card-title" >No hay Canciones</h5>
                          <p class="card-text" >Haga click en añadir canción para incluir uno nuevo</p>
                          <button class="btn btn-standard btn-sm" type="button" (click)="irCrearCancion()" >+ Adicionar canción</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="input-group my-2">
              <input #busqueda type="search" class="form-control" placeholder="Buscar canciones" aria-label="Search" (keyup)="buscarCancion(busqueda.value)">
            </div>

            <table class="table table-hover mb-0" aria-describedby="colecName">
              <tbody>
                  <tr *ngFor="let cancion of filteredSongs; index as i" (click)="onSelect(cancion, i)" [ngClass]="{'selected': i === indiceSeleccionado}">
                    <td>{{cancion.titulo}}</td>
                    <td>{{cancion.minutos}}:{{cancion.segundos}}</td>
                  </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
      <div class="col-8">
        <app-cancion-detail (deleteCancion)="eliminarCancion()" [cancion]="cancionSeleccionada"></app-cancion-detail>
      </div>
    </div>
  </div>
