<app-header></app-header>
<div class="container my-4">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-10 text-center">
                <label class="fs-4">Canciones</label>
              </div>
              <div class="col-2 text-center">
                <button type="button" class="my-1 btn btn-outline-primary btn-circle" (click)="irCrearCancion()"><i class="bi bi-plus-lg"></i></button>
              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="input-group my-2">
              <input #busqueda type="search" class="form-control" placeholder="Buscar canciones" aria-label="Search" (keyup)="buscarCancion(busqueda.value)">
            </div>



            <div class="filters">
              <h1 class="mb-4" ></h1>
              <h5 >Filtrar por:</h5>
            </div>


              <div class=" row">
                <div class="col-2 text-start">
                  <label for="genero">Género</label>
                </div>
                <div class="col-10">
                  <select class="form-select" [(ngModel)]="filtro">
                    <option value="" disabled>Selecciona el género de tu busqueda</option>
                    <option *ngFor="let genero of generos" value={{genero.llave}}>{{genero.llave}}</option>
                  </select>
                </div>
              </div>


            <table class="table table-hover mb-0" aria-describedby="colecName">
              <tbody>
                  <tr>
                    <th>Nombre</th>
                    <th>Duración</th>
                    <th>Género</th>
                  </tr>
                  <tr *ngFor="let cancion of cancionesFiltered; index as i" (click)="onSelect(cancion, i)" [ngClass]="{'selected': i === indiceSeleccionado}">
                    <td>{{cancion.titulo}}</td>
                    <td>{{cancion.minutos}}:{{cancion.segundos}}</td>
                    <td><button *ngIf="cancion.favorita==1" type="button" class="btn dark me-1"  title="Favorita"><i class="bi bi-star-fill"></i></button></td>
                    <td>{{cancion.genero}}</td>
                  </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
      <div class="col-8">
        <app-cancion-detail (deleteCancion)="eliminarCancion()" [cancion]="cancionSeleccionada"></app-cancion-detail>
      </div>
    </div>
  </div>
